@font-face {
  font-family: 'Roboto_Mono';  /* Choisissez un nom pour votre police */
  src: url('../font/Roboto_Mono/static/RobotoMono-Medium.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Réinitialisation des paramêtre automatique du navigateur*/
body {
  margin: auto;
  padding: auto;
  background-color: #333;
  font-family: 'Roboto_Mono','Open Sans', sans-serif;
 
}

/* =====Header=====*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 10vh;
  background: rgb(2, 0, 36);
  z-index: 2;
  
}

/* Conteneur .button_warpper */
.buttonheader {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  max-width: 1200px; /* Largeur maximale */
  
}

/* Button  */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-decoration: none;
 
}

/* Est contenue par .buttonheader et contien button */
.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;

}

/* Texte des boutons */
.button__text {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2%;
  white-space: nowrap;
  
}

/* Style des button  */
.button_style {
  color: white;
}

.button_style:hover {
  text-decoration: underline;
}

/* Pour que l'image sois la même quelque soit les élméments  */
.img-limited {
  max-width: 149px; 
  max-height: 59px; 
  width: auto; 
  height: auto; 
  object-fit: contain; /* Gère les images qui ne respectent pas les proportions */
}


/* =====Main===== */

/* configure tout les Background de toutes les pages  */


.BackgroundDocument, .BackgroundMain, .BackgroundUnivers, .BackgroundRetour, .BackgroundAmarr{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;  
  background-color: black;
  width: 100%;
  height: 100vh; /* Prend tout l'écran */
}

section {
  flex-direction: column;
  justify-items: center;
}

/* Titre principale - Fond d'écran */
.BackgroundMain {
 background-image: url(../images/Background/background_main.jpg);
}

.BackgroundUnivers{
background-image: url(../images/Background/background_universassocié.png);
}

.BackgroundRetour {
background-image: url(../images/Background/Background_retourutilisateur.jpg);
}

.BackgroundDocument {
  background-image: url(../images/Background/background_doocument.jpg);
}

.BackgroundAmarr video {
  display: flex;
  align-content: center;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.pharagraphe {
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

/* Titre principal */
h1 {
  display: flex;
  text-align: center;
  font-size: 6rem;
  box-sizing: border-box; /* Inclut le padding dans les dimensions */
  color: rgb(231, 228, 228);
  text-shadow: 1px 1px 2px rgb(188, 188, 188);
}
/* Titre de paragraphe */
h2 {
  text-align: center;

  font-size: 3rem;
  color: white;
}
/* Titre pour les conteneurs  */
h3 {
  padding-top: 13vh;
  text-align: center;
  white-space: nowrap;
  font-size: 4rem;
  color: white;
}
/* texte de paragraphe  */
p {
  display: flex;
  text-wrap: wrap;
  text-align: justify;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 1.5px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Import de vidéo youtube */
iframe {
  display: block;
  padding-top: 5vh;
}

/* 6 box d'ancres*/
.factions_box {
  display: flex;
  gap: 5vh;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10vh;
}
/* formaatage des ancres */
.factions_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 50vh;
  background-color: #333;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border: black;
  border-radius: 5px;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  transition: all 0.5s;
}

/* Image de fonts des ancres */
.Amarr {
  background-image: url(../images/Faction/Amarr.png);
}

.Caldari {
  background-image: url(../images/Faction/Carldari.png);
}

.Minmatar {
  background-image: url(../images/Faction/Minmatar.png);
}

.Gallente {
  background-image: url(../images/Faction/Gallente.png);
}

.Jove {
  background-image: url(../images/Faction/Jove.webp);
  
}

.AIR {
  background-image: url(../images/Faction/AIR.png);
}

.factions_box a:hover{
  transform: scale(1.1);
  opacity: 0.7;
  border-radius: 5%;
}

/* management de la liste  */
ul {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}

/* style de la liste  */
li {
  font-size: 2rem;
  text-wrap:nowrap;

}

/* style des hyperlien */
li a {
  text-decoration: underline;
  color: black;
}

li a:hover {
  color: rgb(2, 0, 36);
}

/* formulaire */

fieldset{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: space-around;
}

.formulaire_style {
  display: flex;
  text-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: aliceblue;
  max-width: 25%;
  padding-top: 2%;
}

/* alignement des checkbox */
.check-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* aside pour centrer le bouton send */
aside {
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.submit {
  width: 25%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.submit:hover {
  transform: scale(1.1);
}

.faction_sommaire {
  display: flex;
  flex-direction: row-reverse;
  height: auto;
  width: auto;
  
  padding-right: 2vh;
}

.faction_sommaire nav {
  padding-right: 2%;
  display: flex;
   height: fit-content;
   width: fit-content;
   flex-direction: column;
}

.faction_sommaire a{
  color: #888686;
}

.faction_sommaire img {
  width: 25%;
  height: auto;
  align-self: center;
}

.faction_sommaire ul {
  display: flex;
  flex-direction: column;
}
/* =====Footer===== */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: rgb(2, 0, 36);
}
/* Contient les éléments de footer  */
.elementfooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 25%;
}


/* Style des liens dans le footer */
.elementfooter a img {
    height: 100px;
    width: 100px;
}

.elementfooter a:hover {
  transform: scale(1.1);
}

/* =====formulaire===== */

.formulaire_rendu {
  gap: 5%;
  padding-top: 15vh;
  color:white;
  text-shadow: #333 1px;
  width: 100%;
  height: 100vh; /* Prend tout l'écran */

}

.aside_formulaire {
  font-size: 2rem;
}
